<div>
    <h4>Changer de classe&nbsp;:&nbsp;
        <select class="span2"
                ng-model="$parent.classe"
                ng-options="c.label for c in listeClasses"
                ng-change="calculBonusNiveaux()">
        </select>
</div>

<hr/>

<h1 class="page-header">Compétences</h1>

<table class="table">
    <thead>
        <th>Principales</th>
        <th>Caracs</th>
        <th>Bonus par niveau</th>
    </thead>
    <tbody>
        <tr ng-repeat="cpt in listeCompetences| filter:isPrincipale">
            <td>{{cpt.nom}}</td>
            <td>{{caracs[cpt.carac].label}}</td>
            <td>{{cpt[classe.nom]}}</td>
        </tr>
    </tbody>
</table>

<table class="table">
    <thead>
        <th>Secondaires +3</th>
        <th>Caracs</th>
        <th>Bonus par niveau</th>
    </thead>
    <tbody>
        <tr ng-repeat="cpt in listeCompetences| filter:isBonus3 | orderBy: 'nom'">
            <td>{{cpt.nom}}</td>
            <td>{{caracs[cpt.carac].label}}</td>
            <td>{{cpt[classe.nom]}}</td>
        </tr>
        </tbody>
</table>
<table class="table">
    <thead>
        <th>Secondaires +2</th>
        <th>Caracs</th>
        <th>Bonus par niveau</th>
    </thead>
    <tbody>
        <tr ng-repeat="cpt in listeCompetences| filter:isBonus2 | orderBy: 'nom'">
            <td>{{cpt.nom}}</td>
            <td>{{caracs[cpt.carac].label}}</td>
            <td>{{cpt[classe.nom]}}</td>
        </tr>
        </tbody>
</table>
<table class="table">
    <thead>
        <th>Secondaires +1</th>
        <th>Caracs</th>
        <th>Bonus par niveau</th>
    </thead>
    <tbody>
        <tr ng-repeat="cpt in listeCompetences| filter:isBonus1 | orderBy: 'nom'">
            <td>{{cpt.nom}}</td>
            <td>{{caracs[cpt.carac].label}}</td>
            <td>{{cpt[classe.nom]}}</td>
        </tr>
        </tbody>
</table>
<table class="table">
    <thead>
        <th>Secondaires +0</th>
        <th>Caracs</th>
        <th>Bonus par niveau</th>
    </thead>
    <tbody>
        <tr ng-repeat="cpt in listeCompetences| filter:isBonus0 | orderBy: 'nom'">
            <td>{{cpt.nom}}</td>
            <td>{{caracs[cpt.carac].label}}</td>
            <td>{{cpt[classe.nom]}}</td>
        </tr>
    </tbody>
</table>
