<h1 class="page-header">Personnage</h1>
<div>
    <label class="span2" >Nom</label>
    <input type="text" id="inputNom" class="span2" >
    <br/>

    <label class="span2" >Classe / Profession</label>
    <select class="span2"
            ng-model="$parent.classe"
            ng-options="c.label for c in listeClasses"
            ng-change="calculBonusNiveaux()">
    </select>
    <br/>

    <label class="span2" >Race / culture</label>
    <select class="span2"
            ng-model="$parent.race"
            ng-options="r.label for r in listeRaces">
    </select>
    <br/>

    <label class="span2" >Niveau</label>
    <button type="button" class="btn" ng-click="downLvl()">-1</button>
    {{niveau}}
    <button type="button" class="btn" ng-click="upLvl()">+1</button>

</div>

<h2>Caractéristiques</h2>

<table class="table">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th class="span2">
                Score
            </th>
            <th class="span2">
                Bonus carac
            </th>
            <th class="span2">
                Bonus racial
            </th>
            <th class="span2">
                Bonus
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="carac in $parent.caracs">
            <td class="span2"><label>{{carac.label}}</label></td>
            <td class="span1"><input type="text" ng-model="carac.score" ng-change="calculBonusCarac(carac)"></td>
            <td>{{carac.bonusCarac}}</td>
            <td>{{race.bonusCarac[carac.nom]}}</td>
            <td>{{carac.bonusCarac + race.bonusCarac[carac.nom]}}</td>
        </tr>
    </tbody>
</table>

<h2>Compétences</h2>
<table class="table">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th class="span2">
                Carac
            </th>
            <th class="span2">
                Bonus
            </th>
            <th class="span2">
                Degrés
            </th>
            <th class="span2">
                Spétial
            </th>
            <th class="span2">
                Score
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="cpt in competences | orderBy:sortOrdre">
            <td>{{cpt.nom}}</td>
            <td>{{caracs[cpt.carac].label}} : {{caracs[cpt.carac].bonusCarac + race.bonusCarac[cpt.carac]}}</td>
            <td>+ {{cpt[classe.nom]}} : {{cpt.bonusNiveau}}</td>
            <td>{{cpt.nbDegres}} : {{cpt.bonusDegres}}</td>
            <td></td>
            <td>{{caracs[cpt.carac].bonusCarac + race.bonusCarac[cpt.carac] + cpt.bonusNiveau + cpt.bonusDegres}}</td>
        </tr>
    </tbody>
</table>